<a href="https://colab.research.google.com/github/AlexSan1910/Curso_DSA_Python/blob/main/DSA_Python_06_Funcao_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Função Map**

A função map() em python é uma função que aplica uma determinada função a cada elemento de uma estrutura de dados iteravel (assim como uma lista, tupla ou outro objeto iteravel). A função map() retorna um objeto que pode ser convertido em outra estrutura de dados, como uma lista, se necessario.

In [ ]:
# Função python que retorna um numero ao quadrado

def potencia(x):
  return x ** 2

In [ ]:
potencia(2)

4

In [ ]:
numeros = [1,2,3,4,5]

In [ ]:
# Basicamente a função map aqui nesse codigo, percorreu todos os numeros da lista
# e trouxe a potencia de cada um desses itens.. sendo assim o map, nada mais é
# um script que percorre uma lista, ou tupla ou objeto iteravel e aplica uma função
# a todos os itens desse objeto iteravel

mumeros_ao_quadrado = list(map(potencia, numeros))

In [ ]:
print(mumeros_ao_quadrado)

[1, 4, 9, 16, 25]

In [ ]:
# Criando duas funções

# Função 1 - Recebe uma temperatura como parametro e retorna a temperatura em Fahrenheit
def fahrenheit(T):
  return ((float(9)/5) * T + 32)

# Função 2 - Recebe uma temperatura como parametro e retorna a temperatura em celsius
def celsius(T):
  return(float(5)/9)*(T-32)

In [ ]:
# Criando uma lista de temperaturas

temperaturas = [0, 22.5, 40 , 100]

In [ ]:
# Aplicando a função a cadaelemento da lista de temperaturas.

list(map(fahrenheit, temperaturas))

[32.0, 72.5, 104.0, 212.0]

In [ ]:
# Usando um loop for para imprimir o resultado da função map()
for temp in map(fahrenheit, temperaturas):
  print(temp)

32.0
72.5
104.0
212.0

In [ ]:
# Convertendo para celsius
list(map(celsius, temperaturas))

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [ ]:
# Usando expressão lambda

list(map(lambda x: (5.0/9)*(x - 32), temperaturas))

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [ ]:
#Somando os elementos de 2 listas
a = [1,2,3,4]
b = [5,6,7,8]

In [ ]:
list(map(lambda x,y: x + y, a, b))

[6, 8, 10, 12]

In [ ]:
# Somando os elementos de 3 listas
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

In [ ]:
list(map(lambda x, y, z: x + y + z, a, b, c))

[15, 18, 21, 24]